.search {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid themed("border");
  border-radius: 5px;
  padding: 5px;

  input {
    border: none;
    width: 500px;
    background-color: transparent;
    color: themed("textColor");
  }
}

.searchMain {
  min-height: 100vh;

  .uInfo {
    min-height: max-content;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .userRow {
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
}
