.userTop{
    background-color: rgba(128, 128, 128, 0.219);
    width: 100%;
    // position: absolute;
    top: 0;
    display: flex;
    // padding: 10px;
    justify-content: center;
    height: 70px;
}